## Trabajo final

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

Obtenemos el dataset de trabajo leyendo el archivo CSV velas_cryptos

In [10]:
# datos para generar el dataset: bajados de Kaggle : https://www.kaggle.com/rounakbanik/the-movies-dataset
ruta= '../Datos/'
extencion= '.csv'
file= 'velas_cryptos'

In [11]:
def lectura_data(ruta, extencion, archivo):
    data= pd.read_csv(ruta+archivo+extencion, low_memory=False)
    return data

In [12]:
data= lectura_data(ruta, extencion, file)
display(data.shape)
display(data.sample(3))
display(data.describe())
display(data.info())

(2000, 8)

,timestamp,open,close,min,max,volume,volumeQuote,crypto
1674,2020-01-18T00:00:00.000Z,169.89,174.124,165.001,179.551,302682.01870,5.248936e+07,ETHUSD
756,2020-04-09T00:00:00.000Z,7361.06,7287.900,7107.510,7369.210,44870.11166,3.270510e+08,BTCUSD
706,2020-02-19T00:00:00.000Z,10166.62,9595.710,9309.710,10271.870,31983.67436,3.202223e+08,BTCUSD

,open,close,min,max,volume,volumeQuote
count,2000.000000,2000.000000,2000.000000,2000.000000,2.000000e+03,2.000000e+03
mean,4226.793254,4231.579779,4118.174522,4327.802427,1.550118e+05,1.319539e+08
std,4465.282100,4475.354899,4350.165330,4572.517053,2.374454e+05,1.373839e+08
min,85.770000,85.790000,84.250000,87.310000,9.489900e+02,7.097331e+05
25%,218.116000,218.048000,210.384500,224.776500,1.714544e+04,4.403432e+07
50%,2053.645000,2053.790000,2009.540000,2096.270000,3.652033e+04,7.985733e+07
75%,8110.552500,8111.532500,7867.822500,8259.092500,2.471634e+05,1.886885e+08
max,19697.700000,19690.870000,18902.600000,19883.900000,2.916098e+06,1.462912e+09

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   timestamp    2000 non-null   object
 1   open         2000 non-null   float64
 2   close        2000 non-null   float64
 3   min          2000 non-null   float64
 4   max          2000 non-null   float64
 5   volume       2000 non-null   float64
 6   volumeQuote  2000 non-null   float64
 7   crypto       2000 non-null   object
dtypes: float64(6), object(2)
memory usage: 125.1+ KB

None

In [13]:
data

,timestamp,open,close,min,max,volume,volumeQuote,crypto
0,2018-03-15T00:00:00.000Z,8601.000,8409.730,8066.610,8751.750,7166.7000,6.042396e+07,BTCUSD
1,2018-03-16T00:00:00.000Z,8411.310,8503.510,8124.390,8848.950,5823.8600,4.955706e+07,BTCUSD
2,2018-03-17T00:00:00.000Z,8503.210,8143.040,8050.270,8600.000,6504.0200,5.408251e+07,BTCUSD
3,2018-03-18T00:00:00.000Z,8144.990,8520.220,7715.000,8600.000,7165.1700,5.751645e+07,BTCUSD
4,2018-03-19T00:00:00.000Z,8526.540,8861.910,8375.700,8900.000,10400.0100,8.967557e+07,BTCUSD
...,...,...,...,...,...,...,...,...
1995,2020-12-04T00:00:00.000Z,615.987,566.626,565.000,619.692,124498.6007,7.479935e+07,ETHUSD
1996,2020-12-05T00:00:00.000Z,566.720,596.485,559.164,596.836,15290.4828,8.923454e+06,ETHUSD
1997,2020-12-06T00:00:00.000Z,596.742,601.294,583.397,607.369,13366.5558,7.969615e+06,ETHUSD
1998,2020-12-07T00:00:00.000Z,601.427,591.326,584.078,602.827,68615.7469,4.066509e+07,ETHUSD
1999,2020-12-08T00:00:00.000Z,591.302,555.220,549.320,594.770,114393.8477,6.551835e+07,ETHUSD